---
layout: page
title: "About me"
description: "我就是我，是不一样的烟火"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        春夏秋冬，所谓的四季是时光的交替 <br>
        而人生却只有两季，努力就是旺季，不努力就是淡季。
    </blockquote>
    <h5>关于我</h5>
    <br>
    Hey，这里是半天钟，目前在北京明光村中学附属大学里的某不知名实验室混吃混喝，没有什么绝学，对于众多程序猿秘籍也只晓得一招半式。
    <br>
    <h5>关于这个看起来很水的博客</h5>
    <br>
    关注这个博客，你可能会看到有关Python、Django、爬虫、算法、数据分析挖掘、机器学习等相关技术讨论，我还有可能会在这里分享一些学习、生活上的琐事。
    <br>
    <br>
    说来惭愧，入门近五载，却并无成就可展示，仅有一些学习代码可供诸位参考：<a href="https://github.com/HalfClock">我的GitHub</a>
    <br>
    <h5>结语</h5>
    <br>
    俗话说得好，不想当作家的研究生不是好的软件工程师。所以这个博客算是我求学路上的一个记录工具，用于输出我的知识积累和学习、生活方式。
    <br>
    <br>
    <br>
    <br>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Spring, summer, autumn and winter, the so-called four seasons are the alternation of time <br>
        But life is only two seasons, the effort is the peak season, and no effort is the off season.
    </blockquote>
    <h5>ABPUT ME</h5>
    <br>
    Hey,This is BanTianZhong,from Beijing University of Posts and Telecommunications。
    <br>
    <h5>ABOUT THIS BLOG</h5>
    <br>
    Follow this blog, you may see related technical discussions about Python, Django, Web crawler, algorithms, data analysis, machine learning, etc. I may also share some learning and life trivia here.
    <br>
    <br>
    It’s awkward to say, learning programming is almost five years old, but there are no achievements to show. There are only a few learning codes for your reference:<a href="https://github.com/HalfClock">My GitHub</a>
    <br>
    <h5>END</h5>
    <br>
    This blog is a recording tool I learned to output my knowledge accumulation and learning, lifestyle.
    <br>
    <br>
    <br>
    <br>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



<!--{% if site.duoshuo_username %}-->
<!--&lt;!&ndash; 多说评论框 start &ndash;&gt;-->
<!--<div class="comment">-->
    <!--<div class="ds-thread"-->
    <!--{% if site.duoshuo_username == "huxblog" %}-->
        <!--data-thread-id="1187623191091085319"-->
    <!--{% else %}-->
        <!--data-thread-key="{{site.duoshuo_username}}/about"-->
    <!--{% endif %}-->

    <!--data-title="{{page.title}}"-->
    <!--data-url="{{site.url}}/about/"></div>-->
<!--</div>-->
<!--&lt;!&ndash; 多说评论框 end &ndash;&gt;-->

<!--&lt;!&ndash; Duoshuo hacking &ndash;&gt;-->
<!--<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />-->

<!--&lt;!&ndash; 多说公共JS代码 start (一个网页只需插入一次) &ndash;&gt;-->
<!--<script type="text/javascript">-->
    <!--// dynamic User hacking by Hux-->
    <!--var _user = document.getElementById('dsUser').value;-->
    <!--// duoshuo comment query.-->
    <!--var duoshuoQuery = {short_name: _user };-->
    <!--(function() {-->
        <!--var ds = document.createElement('script');-->
        <!--ds.type = 'text/javascript';ds.async = true;-->
        <!--ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';-->
        <!--ds.charset = 'UTF-8';-->
        <!--(document.getElementsByTagName('head')[0]-->
         <!--|| document.getElementsByTagName('body')[0]).appendChild(ds);-->
    <!--})();-->
<!--</script>-->
<!--&lt;!&ndash; 多说公共JS代码 end &ndash;&gt;-->
<!--{% endif %}-->


<!--{% if site.disqus_username %}-->
<!--&lt;!&ndash; disqus 评论框 start &ndash;&gt;-->
<!--<div class="comment">-->
    <!--<div id="disqus_thread" class="disqus-thread">-->

    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; disqus 评论框 end &ndash;&gt;-->

<!--&lt;!&ndash; disqus 公共JS代码 start (一个网页只需插入一次) &ndash;&gt;-->
<!--<script type="text/javascript">-->
    <!--/* * * CONFIGURATION VARIABLES * * */-->
    <!--var disqus_shortname = "{{site.disqus_username}}";-->
    <!--var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";-->
    <!--var disqus_url = "{{site.url}}{{page.url}}";-->

    <!--(function() {-->
        <!--var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;-->
        <!--dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';-->
        <!--(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);-->
    <!--})();-->
<!--</script>-->
<!--&lt;!&ndash; disqus 公共JS代码 end &ndash;&gt;-->
<!--{% endif %}-->

<!-- gitment 公共JS代码 start -->
{% if site.gitment_isuse %}
<div id="gitmentContainer"></div>
<!--<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">-->
<!--<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>-->
<link rel="stylesheet" href="https://halfclock.github.io/css/gitment.css">
<script src="https://halfclock.github.io/js/gitment.js"></script>
<script>
    var gitment = new Gitment({
        id: '{{page.title}}',
        owner: '{{site.github_username}}',
        repo: '{{site.gitment_repo}}',
        oauth: {
            client_id: '{{site.gitment_client_id}}',
            client_secret: '{{site.gitment_client_secret}}',
        },
    });
    gitment.render('gitmentContainer');
</script>
{% endif %}
<!-- gitment 公共JS代码 end -->